@model StorkDorkMain.Models.MilestoneViewModel;

@{
    ViewData["Title"] = "Milestones";
}

<div class="container mt-4">
    <div class="row mb-4 justify-content-center">
        <div class="=col-md-8 mx-auto text-center">
            <h1>@Model.DisplayName's Milestones:</h1>
        </div>
        <div class="col-md-8 mx-auto text-center">
            <div class="card mt-3 storkdork-card">
                <div class="card-header">
                    <h4 class="descriptive-text">StorkDork Statistics:</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 descriptive-text">Sightings Made:</dt>
                        @if (Model.Milestone.SightingsMade > 0)
                        {
                            <dd class="col-sm-9">You've made @Model.Milestone.SightingsMade sightings so far!
                                @if (Model.Milestone.SightingsMade < 25)
                                {
                                    <span class="text-secondary">@Model.Milestone.SightingsMade/25</span>
                                }
                                else if (Model.Milestone.SightingsMade >= 25 && Model.Milestone.SightingsMade < 50)
                                {
                                    <span class="text-secondary">@Model.Milestone.SightingsMade/50</span>
                                }
                                else if (Model.Milestone.SightingsMade >= 50 && Model.Milestone.SightingsMade < 100)
                                {
                                    <span class="text-secondary">@Model.Milestone.SightingsMade/100</span>
                                }
                            </dd>
                        }
                        @if (Model.Milestone.SightingsMade <= 0)
                        {
                            <dd class="col-sm-9"> Make your first sighting today!</dd>
                        }

                        <dt class="col-sm-3 descriptive-text">Photos Contributed:</dt>
                        @if (Model.Milestone.PhotosContributed > 0)
                        {
                            <dd class="col-sm-9">You've uploaded @Model.Milestone.PhotosContributed verified photos!
                                @if (Model.Milestone.PhotosContributed < 25)
                                {
                                    <span class="text-secondary">@Model.Milestone.PhotosContributed/25</span>
                                }
                                else if (Model.Milestone.PhotosContributed >= 25 && Model.Milestone.PhotosContributed < 50)
                                {
                                    <span class="text-secondary">@Model.Milestone.PhotosContributed/50</span>
                                }
                                else if (Model.Milestone.PhotosContributed >= 50 && Model.Milestone.PhotosContributed < 100)
                                {
                                    <span class="text-secondary">@Model.Milestone.PhotosContributed/100</span>
                                }
                            </dd>
                        }

                        @if (Model.Milestone.PhotosContributed <= 0)
                        {
                            <dd class="col-sm-9"> Upload your first photo today!</dd>
                        }

                        @if (Model.MostSpottedBird != null)
                        {
                            <dt class="col-sm-3 descriptive-text">Most Spotted Bird:</dt>
                            <dd class="col-sm-9">Your most spotted bird is the @Model.MostSpottedBird.CommonName</dd>
                        }
                        @if (Model.MostSightingsInDay != null)
                        {
                            <dt class="col-sm-3 descriptive-text">Most Spottings in a Day:</dt>
                            <dd class="col-sm-9"> @Model.MostSightingsInDay.DayOfSightings?.ToString("MMMM dd, yyyy") <br>
                                Number
                                of Sightings: @Model.MostSightingsInDay.NumberOfSightings</dd>
                        }
                    </dl>
                </div>
            </div>
            <div class="card mt-3 storkdork-card">
                <div class="card-header">
                    <h4 class="descriptive-text">StorkDork Milestones:</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        @if (Model.SightingsTier == 1)
                        {
                            <dt class="col-sm-3">
                                <figure>
                                    <img src="@Model.GoldUrl" alt="Gold Medal" class="img-fluid" style="max-width: 50px;">
                                    <figcaption class="descriptive-text">Gold Sightings</figcaption>
                                </figure>
                            </dt>
                        }
                        @if (Model.SightingsTier == 2)
                        {
                            <dt class="col-sm-3">
                                <figure>
                                    <img src="@Model.SilverUrl" alt="Silver Medal" class="img-fluid"
                                        style="max-width: 50px;">
                                    <figcaption class="descriptive-text">Silver Sightings</figcaption>
                                </figure>
                            </dt>
                        }
                        @if (Model.SightingsTier == 3)
                        {
                            <dt class="col-sm-3">
                                <figure>
                                    <img src="@Model.BronzeUrl" alt="Bronze Medal" class="img-fluid"
                                        style="max-width: 50px;">
                                    <figcaption class="descriptive-text">Bronze Sightings</figcaption>
                                </figure>
                            </dt>
                        }
                        @if (Model.PhotosTier == 1)
                        {
                            <dt class="col-sm-3">
                                <figure>
                                    <img src="@Model.GoldUrl" alt="Gold Medal" class="img-fluid" style="max-width: 50px;">
                                    <figcaption class="descriptive-text">Gold Photos</figcaption>
                                </figure>
                            </dt>
                        }
                        @if (Model.PhotosTier == 2)
                        {
                            <dt class="col-sm-3">
                                <figure>
                                    <img src="@Model.SilverUrl" alt="Silver Medal" class="img-fluid"
                                        style="max-width: 50px;">
                                    <figcaption class="descriptive-text">Silver Photos</figcaption>
                                </figure>
                            </dt>
                        }
                        @if (Model.PhotosTier == 3)
                        {
                            <dt class="col-sm-3">
                                <figure>
                                    <img src="@Model.BronzeUrl" alt="Bronze Medal" class="img-fluid"
                                        style="max-width: 50px;">
                                    <figcaption class="descriptive-text">Bronze Photos</figcaption>
                                </figure>
                            </dt>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
